body {
    color: purple;
    background-color: beige;
}
p {
    color:rgb(15, 124, 88);
}
h3 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
#title {
    color:rgb(93, 60, 18);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* To Do:

A type selector DONE
An ID OR class selector DONE
A relational selector
A combination selector
An attribute OR pseudo-class OR a pseudo-element
Use only relative units of measurement
Specify colors with RGB values or hex codes DONE
Set the color of at least one element
Use at least 2 properties that style fonts */